/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.bg-cover {
    background-size: cover !important;
}
.main-navigation{
    height: 45px!important
}
.search-banner{
    max-width: 800px;
}
.banner-search{
    color: white;
}
/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}
.container-body{
    width: 80%;
    padding-left: 20px!important;
    padding-right: 20px!important;
}